<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category Form</title>
</head>
<body>
    <h1>Category Form</h1>
    <form method="post">
        <% if(locals.category) {%>
            <input type="number" name="CategoryId" value="<%= category.CategoryId %>" hidden>
            <% } %>
        <div>
            <input type="text" name="Name" placeholder="Enter Category Name" <% if(locals.category) { %>
            value="<%= category.Name %>" 
            <% } %> required>
        </div>
        <div>
            <% if(locals.category) {  %>
                <textarea name="Description" rows="4" placeholder="Description"><%= category.Description %></textarea>
                <% } else { %>
                    <textarea name="Description" rows="4" placeholder="Description" required></textarea>
                <% } %>
   
        </div>
        <button type="submit">Submit</button>
        </form>
        <button onclick="window.location.href = './all'" >Cancel</button>
</body>
</html>